body {
    font-size: 18px;
    color: #333;

    font-family: sans-serif;
    line-height: 1.5;
}

h1 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 60px;
    text-align: center;
}

h1 {
    color: darkred;
}

ul li:first-child {
    margin-bottom: 10px;
}

h2 {
    margin-top: 0;
    padding-top: 30px;
    font-size: 25px;
    text-align: center;
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

section h2 {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    text-align: left;
    border: none;
}
ul li:nth-child(3) {
    color: crimson;
}



/* margin-left - отступ слева
margin-right - отступ справа
margin-top - отступ сверху
margin-bottom - отступ снизу

padding-left - отступ слева
padding-right - отступ справа
padding-top - отступ сверху
padding-bottom - отступ снизу



Стили для заголовков внутри секций:
Внутренние отступы: 0 пикселей
Выравнивание текста: по левому краю
Граница отсутствует

Стили для элементов списка:
Внешний отступ снизу: 10 пикселей */